rect.hulldemo {
	fill: none;
	pointer-events: all;
	stroke: black;
	stroke-width: 1px;
}

.hulldemo {
	fill: steelblue;
	stroke: steelblue;
	stroke-width: 32px;
	stroke-linejoin: round;
}

circle.hulldemo {
	fill: white;
	stroke: black;
	stroke-width: 1.5px;
}